.elementor-43 .elementor-element.elementor-element-11b20ff>.elementor-background-overlay {
    background-color: transparent;
    background-image: radial-gradient(at center center, var(--e-global-color-uicore_primary) 0%, #FFFFFF00 73%);
    opacity: 0.3;
}

.elementor-43 .elementor-element.elementor-element-4036deb.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-background-overlay {
    background-color: var(--e-global-color-uicore_headline);
    opacity: 0.05;
}

.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated,
.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-background-overlay,
.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-background-slideshow {
    border-radius: 16px 16px 16px 16px;
}

.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 60px 10px 180px 10px;
    --e-column-margin-right: 10px;
    --e-column-margin-left: 10px;
}

.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-widget-wrap {
    padding: 100px 100px 100px 100px;
}

.elementor-43 .elementor-element.elementor-element-27a114e {
    text-align: center;
}

.elementor-43 .elementor-element.elementor-element-5031226 {
    text-align: center;
    width: var(--container-widget-width, 650px);
    max-width: 650px;
    --container-widget-width: 650px;
    --container-widget-flex-grow: 0;
}

.elementor-43 .elementor-element.elementor-element-5031226>.elementor-widget-container {
    padding: 0px 0px 32px 0px;
}

.elementor-43 .elementor-element.elementor-element-62c9465:not(.elementor-motion-effects-element-type-background),
.elementor-43 .elementor-element.elementor-element-62c9465>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-uicore_dark);
}

.elementor-43 .elementor-element.elementor-element-62c9465 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 50px 0px;
}

.elementor-43 .elementor-element.elementor-element-62c9465>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-cce4b6d>.elementor-element-populated {
    margin: 0px 125px 0px 0px;
    --e-column-margin-right: 125px;
    --e-column-margin-left: 0px;
}

.elementor-43 .elementor-element.elementor-element-0487375 {
    text-align: left;
}

.elementor-43 .elementor-element.elementor-element-0487375 img {
    width: 130px;
}

.elementor-43 .elementor-element.elementor-element-6f13cd4 {
    color: #FFFFFF;
}

.elementor-43 .elementor-element.elementor-element-dc40515 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-8bb7229 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-text {
    color: #9F9F9F;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-8bb7229 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-uicore_primary);
}

.elementor-43 .elementor-element.elementor-element-d7b71e1 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-12851d2 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-text {
    color: #9F9F9F;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-12851d2 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-uicore_primary);
}

.elementor-43 .elementor-element.elementor-element-82631ac .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-5715e04 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-text {
    color: #9F9F9F;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-5715e04 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-uicore_primary);
}

.elementor-43 .elementor-element.elementor-element-b3d91e2 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2);
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2);
}

body.rtl .elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2);
}

body:not(.rtl) .elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2);
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-43 .elementor-element.elementor-element-357c80e {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-text {
    color: #9F9F9F;
    transition: color 0.3s;
}

.elementor-43 .elementor-element.elementor-element-357c80e .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-uicore_primary);
}

.elementor-43 .elementor-element.elementor-element-33eb7a8:not(.elementor-motion-effects-element-type-background),
.elementor-43 .elementor-element.elementor-element-33eb7a8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-uicore_dark);
}

.elementor-43 .elementor-element.elementor-element-33eb7a8 {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #9F9F9F36;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
}

.elementor-43 .elementor-element.elementor-element-33eb7a8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-43 .elementor-element.elementor-element-76e56e0 {
    color: #FFFFFF;
}

.elementor-widget .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:1024px) {

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated,
    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-background-overlay,
    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-background-slideshow {
        border-radius: 14px 14px 14px 14px;
    }

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated {
        margin: 0px 10px 100px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 50px 50px 50px 50px;
    }

    .elementor-43 .elementor-element.elementor-element-5031226>.elementor-widget-container {
        padding: 0px 0px 32px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-5031226 {
        width: var(--container-widget-width, 600px);
        max-width: 600px;
        --container-widget-width: 600px;
        --container-widget-flex-grow: 0;
    }

    .elementor-43 .elementor-element.elementor-element-62c9465 {
        padding: 60px 0px 40px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-cce4b6d>.elementor-element-populated {
        margin: 0px 10px 0px 0px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-0487375 img {
        width: 100px;
    }

    .elementor-43 .elementor-element.elementor-element-dc40515 .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-43 .elementor-element.elementor-element-d7b71e1 .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-43 .elementor-element.elementor-element-82631ac .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-43 .elementor-element.elementor-element-b3d91e2 .elementor-heading-title {
        font-size: 17px;
    }

    .elementor-43 .elementor-element.elementor-element-33eb7a8 {
        padding: 20px 0px 20px 0px;
    }
}

@media(max-width:767px) {

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated,
    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-background-overlay,
    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-background-slideshow {
        border-radius: 12px 12px 12px 12px;
    }

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated {
        margin: 60px 10px 60px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-43 .elementor-element.elementor-element-4036deb>.elementor-element-populated>.elementor-widget-wrap {
        padding: 40px 20px 40px 20px;
    }

    .elementor-43 .elementor-element.elementor-element-5031226>.elementor-widget-container {
        padding: 0px 0px 32px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-5031226 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-62c9465 {
        padding: 50px 0px 30px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-cce4b6d {
        width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-cce4b6d>.elementor-element-populated {
        margin: 0px 50px 30px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-0487375 img {
        width: 125px;
    }

    .elementor-43 .elementor-element.elementor-element-1d377ce {
        width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-1d377ce>.elementor-element-populated {
        margin: 0px 50px 30px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-dc40515 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-43 .elementor-element.elementor-element-56d14e0 {
        width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-56d14e0>.elementor-element-populated {
        margin: 0px 50px 30px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-d7b71e1 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-43 .elementor-element.elementor-element-f709b86 {
        width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-f709b86>.elementor-element-populated {
        margin: 0px 50px 30px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-82631ac .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-43 .elementor-element.elementor-element-f0cd904 {
        width: 100%;
    }

    .elementor-43 .elementor-element.elementor-element-f0cd904>.elementor-element-populated {
        margin: 0px 50px 0px 0px;
        --e-column-margin-right: 50px;
        --e-column-margin-left: 0px;
    }

    .elementor-43 .elementor-element.elementor-element-b3d91e2 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-43 .elementor-element.elementor-element-33eb7a8 {
        padding: 20px 0px 20px 0px;
    }

    .elementor-43 .elementor-element.elementor-element-76e56e0 {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-43 .elementor-element.elementor-element-cce4b6d {
        width: 32%;
    }

    .elementor-43 .elementor-element.elementor-element-1d377ce {
        width: 17%;
    }

    .elementor-43 .elementor-element.elementor-element-56d14e0 {
        width: 17%;
    }

    .elementor-43 .elementor-element.elementor-element-f709b86 {
        width: 17%;
    }

    .elementor-43 .elementor-element.elementor-element-f0cd904 {
        width: 17%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-43 .elementor-element.elementor-element-cce4b6d {
        width: 24%;
    }

    .elementor-43 .elementor-element.elementor-element-1d377ce {
        width: 19%;
    }

    .elementor-43 .elementor-element.elementor-element-56d14e0 {
        width: 19%;
    }

    .elementor-43 .elementor-element.elementor-element-f709b86 {
        width: 19%;
    }

    .elementor-43 .elementor-element.elementor-element-f0cd904 {
        width: 19%;
    }
}